<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.poole.android.screenshotrule"
    android:versionCode="1"
    android:versionName="0.0">

    <application>
        <activity
            android:name=".TestActivity"
            android:label="NothingInteresting"></activity>
    </application>

</manifest>